.info-repos {
  text-align: center;
  padding: 0 0 20px;

  >.list {
    background: $white;
    max-width: 600px;
    margin: 30px auto 0;

    >.item {
      padding: 10px 0;

      &:nth-child(2n+2) {
        background: $light-green;
      }
    }
  }
}